BETTER_AUTH_SECRET=your-secret-key-here
NEXT_PUBLIC_APP_URL=http://localhost:3000
OMDB_API_KEY=testt
OPENAI_API_KEY=your-openai-api-key
QBITTORRENT_HOST=http://192.168.1.26:8080
QBITTORRENT_USERNAME=
QBITTORRENT_PASSWORD=
